.account-profile-section {
    display: grid;
    grid-template-columns: 384px 1fr;
    gap: 126px;

    .account-profile-section-main {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .account-profile-section-title {
        margin: 0;
        font-size: var(--type-size-300);
        font-weight: var(--font-weight-semibold);
        line-height: var(--type-line-300);
    }

    .account-profile-section-description {
        color: var(--text-secondary);
        font-size: var(--type-size-100);
        font-weight: var(--font-weight-regular);
        line-height: var(--type-line-100);
    }

    @media (max-width: 980px) {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}
