.guide-social {
    .guide-row[data-dark] {
        background: var(--bg-inverse);
        border-radius: var(--radius-lg);
        padding: var(--space-6);
        width: fit-content;
    }

    .guide-item {
        min-width: var(--space-10);
        min-height: var(--space-10);
        padding: 8px;
        border: none;
        background: var(--contrast-light);
    }

    .guide-row[data-dark] .guide-item {
        background: transparent;
    }
}
