$gold-base: #f5df4d;
$abyss-base: #262933;

$gold-10: #fdf9db;
$gold-20: #fcf4c4;
$gold-30: #faefa6;
$gold-40: #f8ea88;
$gold-50: #f7e46b;
$gold-60: #ccba40;
$gold-70: #a39533;
$gold-80: #7b7027;
$gold-90: #524a1a;
$gold-100: #312d0f;

$abyss-10: #d4d4d6;
$abyss-20: #b7b8bb;
$abyss-30: #929499;
$abyss-40: #6e7077;
$abyss-50: #4a4d55;
$abyss-60: #20222b;
$abyss-70: #191b22;
$abyss-80: #13151a;
$abyss-90: #0d0e11;
$abyss-100: #08080a;

$white-base: #ffffff;
$black-base: #262933;
$gray-base: #d4d4d6;

$gray-10: #f6f6f7;
$gray-20: #f1f1f1;
$gray-30: #e9e9ea;
$gray-40: #e2e2e4;
$gray-50: #dbdbdd;
$gray-60: #b1b1b2;
$gray-70: #8d8d8f;
$gray-80: #6a6a6b;
$gray-90: #474747;
$gray-100: #2a2a2b;

$black: #262933;

$success-base: #33b42a;
$warning-base: #ff8903;
$error-base: #ffbe03;

$success-10: #d6f0d4;
$success-20: #bbe6b8;
$success-30: #99da95;
$success-40: #77cd71;
$success-50: #55c14e;
$success-60: #2b9623;
$success-70: #22781c;
$success-80: #1a5a15;
$success-90: #113c0e;
$success-100: #0a2408;

$warning-10: #ffe7cd;
$warning-20: #ffd8ab;
$warning-30: #ffc481;
$warning-40: #ffb057;
$warning-50: #ff9d2d;
$warning-60: #d47203;
$warning-70: #aa5b02;
$warning-80: #804502;
$warning-90: #552e01;
$warning-100: #331b01;

$error-10: #ffdedf;
$error-20: #fcb7ba;
$error-30: #fb9398;
$error-40: #f96f75;
$error-50: #f84b53;
$error-60: #cd2128;
$error-70: #a41a20;
$error-80: #7b1418;
$error-90: #520d10;
$error-100: #31080a;

$ultramarine-base: #2e3191;
$lynch-base: #668292;
$azure-base: #037ff9;
$aloha-base: #10b798;
$blood-base: #d42941;
$amber-base: #f7c02b;

$ultramarine-10: #e4e5fa;
$ultramarine-20: #b9bada;
$ultramarine-30: #9798c8;
$ultramarine-40: #7476b6;
$ultramarine-50: #5153a3;
$ultramarine-60: #262979;
$ultramarine-70: #1f2161;
$ultramarine-80: #171848;
$ultramarine-90: #0f1030;
$ultramarine-100: #090a1d;

$lynch-10: #e9f0f3;
$lynch-20: #ccd5db;
$lynch-30: #b2c0c8;
$lynch-40: #99acb6;
$lynch-50: #8097a4;
$lynch-60: #556c7a;
$lynch-70: #445761;
$lynch-80: #334149;
$lynch-90: #222b31;
$lynch-100: #141a1d;

$azure-10: #e2f0ff;
$azure-20: #abd4fd;
$azure-30: #81bffc;
$azure-40: #57aafb;
$azure-50: #2d94fa;
$azure-60: #036acf;
$azure-70: #0255a6;
$azure-80: #02407d;
$azure-90: #012a53;
$azure-100: #011932;

$aloha-10: #ddfaf4;
$aloha-20: #afe7dd;
$aloha-30: #87dbcb;
$aloha-40: #60cfba;
$aloha-50: #38c3a9;
$aloha-60: #028c74;
$aloha-70: #0b7a65;
$aloha-80: #085b4c;
$aloha-90: #053d33;
$aloha-100: #03251e;

$blood-10: #ffe3e7;
$blood-20: #f1b8c0;
$blood-30: #e994a0;
$blood-40: #e27080;
$blood-50: #db4d61;
$blood-60: #b12236;
$blood-70: #8d1b2b;
$blood-80: #6a1521;
$blood-90: #470e16;
$blood-100: #2a080d;

$amber-10: #fdf2d5;
$amber-20: #fceab8;
$amber-30: #fbdf95;
$amber-40: #fad572;
$amber-50: #f8ca4e;
$amber-60: #cea024;
$amber-70: #a5801d;
$amber-80: #7c6016;
$amber-90: #52400e;
$amber-100: #312609;

$white: #ffffff;
$black-pure: #000000;
$transparent: transparent;
