$font-primary:
    'Pretendard',
    system-ui,
    -apple-system,
    sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$display-lg-m: 52px;
$display-md-m: 44px;
$display-sm-m: 40px;

$h1-m: 36px;
$h2-m: 28px;
$h3-m: 24px;
$h4-m: 20px;
$h5-m: 18px;
$h6-m: 16px;

$body-xl: 18px;
$body-lg: 16px;
$body-md: 14px;
$body-sm: 12px;
$body-xs: 10px;

$display-lg-w: 56px;
$display-md-w: 48px;
$display-sm-w: 40px;

$h1-w: 36px;
$h2-w: 32px;
$h3-w: 28px;
$h4-w: 24px;
$h5-w: 20px;
$h6-w: 16px;
