@use '../foundation/colors/semantic' as c;
@use '../foundation/typography/semantic' as t;

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/PretendardVariable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: t.$font-base;
    font-size: t.$body-base;
    line-height: t.$body-base-line;
    background: var(--bg-page);
    color: var(--text-primary);
}
