@use '../foundation/colors/semantic' as c;
@use '../foundation/typography/semantic' as t;

body {
    font-family: t.$font-base;
    font-size: t.$body-base;
    line-height: t.$body-base-line;
    background: var(--bg-page);
    color: var(--text-primary);
}
