@use '../foundation/typography/semantic' as type;

h1 {
    font-size: type.$heading-1;
    line-height: type.$heading-1-line;
}

h2 {
    font-size: type.$heading-2;
    line-height: type.$heading-2-line;
}

h3 {
    font-size: type.$heading-3;
    line-height: type.$heading-3-line;
}

h4 {
    font-size: type.$heading-4;
    line-height: type.$heading-4-line;
}

h5 {
    font-size: type.$heading-5;
    line-height: type.$heading-5-line;
}

h6 {
    font-size: type.$heading-6;
    line-height: type.$heading-6-line;
}

p {
    font-size: type.$body-base;
    line-height: type.$body-base-line;
}

.ui-text {
    color: inherit;
}

.ui-heading {
    color: inherit;
}

.font-thin { font-weight: 100; }
.font-extra-light { font-weight: 200; }
.font-light { font-weight: 300; }
.font-regular { font-weight: var(--font-weight-regular); }
.font-medium { font-weight: var(--font-weight-medium); }
.font-semi-bold { font-weight: var(--font-weight-semibold); }
.font-bold { font-weight: var(--font-weight-bold); }
.font-extra-bold { font-weight: 800; }
.font-black { font-weight: 900; }

.text-xlarge { font-size: var(--type-size-300); line-height: var(--type-line-300); }
.text-large { font-size: var(--type-size-200); line-height: var(--type-line-200); }
.text-medium { font-size: var(--type-size-100); line-height: var(--type-line-100); }
.text-small { font-size: 12px; line-height: 20px; }
.text-xsmall { font-size: 10px; line-height: 16px; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
