.ui-input {
    display: flex;
    align-items: center;

    gap: var(--space-xs);
    padding-inline: var(--space-md);

    height: var(--space-2xl);

    border-radius: var(--radius-md);
    border: 1px solid var(--border-default);

    background: var(--bg-page);
    box-shadow: var(--shadow-sm);
    cursor: text;

    transition:
        border-color 0.15s ease,
        box-shadow 0.15s ease,
        background 0.15s ease;
}

.ui-input-field {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;

    font-family: var(--font-base);
    font-size: var(--body-base);
    line-height: var(--type-line-100);
    color: var(--text-primary);

    &::placeholder {
        color: var(--text-muted);
    }
}

.ui-input-icon {
    width: 24px;
    height: 24px;

    display: grid;
    place-items: center;

    color: var(--text-muted);
}

.ui-input:hover:not([data-disabled='true']):not([data-state='error']):not([data-state='success']),
.ui-input:focus-within:not([data-disabled='true']):not([data-state='error']):not([data-state='success']) {
    border-color: var(--border-strong);
}

.ui-input[data-state='error'],
.ui-input[data-state='error']:hover:not([data-disabled='true']) {
    border-color: var(--error);
}

.ui-input[data-state='success'],
.ui-input[data-state='success']:hover:not([data-disabled='true']) {
    border-color: var(--success);
}

.ui-input[data-disabled='true'] {
    background: var(--gray-20);
    border-color: var(--gray-50);
    box-shadow: none;

    cursor: not-allowed;

    .ui-input-field {
        color: var(--text-muted);
        cursor: not-allowed;
    }
}

.ui-input[data-readonly='true']:not([data-disabled='true']) {
    background: var(--surface-subtle);
}

.ui-input[data-size='lg'] {
    height: var(--space-3xl);
}
.ui-input[data-size='md'] {
    height: var(--space-2xl);
}
.ui-input[data-size='sm'] {
    height: var(--space-xl);
}
